/***************************************
           PAGE-CONTENT
***************************************/
.page-content{
    display: flex;
    margin: 0 -15px;

    @media (max-width: $screen-sm-max) {
        display: inherit;
    }

}

    .page-content__page-header {
        margin: 0 0 0 10px;
        padding: 5px 0;
        color: #20609e!important;
        font-size: $font-size-h3;
        line-height: $line-height-computed;
    }

    .page-content__page-sub-title{
        font-weight: $headings-font-weight;
        font-size: $font-size-large;
    }

#pdfIcon {
    display: none;
}

#downloadIcon {
    display: none;
    @media (max-width: $screen-sm){
        display: inline;
    }
}

#printIcon {
    display: none;
    @media (min-width: $screen-md){
        display: inline;
    }
}